body{
    font-family: 'Raleway', sans-serif;
}

main{
    background:#E5E5E5;  
}

.container {
    max-width: 1136px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.image__logo{   
    max-width: 176px;
    width: 100%;
    
} 

footer{
    background: #EAF2FD;
}


@media screen and (max-width:768px) {
    .image__logo{   
        max-width: 100px;
        width: 100%;
        
    } 
    
}

@media screen and (max-width:360px){
    .image__logo{   
        max-width: 176px;
        width: 100%;  
    } 
       
}